@import url(reset.css);
@import url(../fonts/norse-bold/stylesheet.css);

:root {
    font-size: 16px;
    --btn-bg-color: #596D48;
    --form-border-color: #E5E7EB;
}

main {
    display: flex;
    justify-content: space-between;

    font-family: sans-serif;
}

.sign-up-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f9fafb;
}

fieldset {
    border: none;
}

.responsive-image {
    height: 100vh;
}

.img-wrapper {
    background-image: url(../imgs/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    width: 35%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.author-photo {
    margin: auto 0 1rem 0;
}

.author-photo>a {
    color: snow;
}

.odin-logo {
    width: 110px;
    margin: 1rem 0;
}

.odin-banner {
    margin-top: 30%;
    display: flex;
    font-family: "norsebold", sans-serif;
    color: white;
    background-color: rgb(0 0 0 / 50%);
    /* 50% transparent */
    font-size: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
}


.top-forms {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.41);
    gap: 1.5rem;
    padding-left: 4rem;
    padding-right: 60%;
    padding: 2rem 60% 4rem 4rem;
}

.top-forms>h2 {
    flex: 100%;
}

.create-account {
    margin: 2rem 4rem;
    background-color: var(--btn-bg-color);
    border: 1px solid var(--form-border-color);
    padding: 0.8rem 3.5rem;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.notice {
    margin-left: 4rem;
}

.first-notice {
    margin-bottom: 1.5rem;
}

.second-notice {
    margin-bottom: 1.5rem;
}

input {
    border-radius: 5px;
    border: 1px solid;
    border-color: var(--form-border-color);
}

input:focus {
    outline: none;
    border-color: rgb(31, 83, 255);
}

input:invalid {
    outline: none;
    border-color: red;
}

/* Базовий стиль для всіх полів */
input[type] {
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input:invalid,
textarea:invalid {
    border-color: #dc3545;
}